language: node_js
node_js: node
cache: npm
os:
  - linux
  - osx
jobs:
  include:
    - stage: verify definitions
      script: npm run --silent verify-definitions -- $TRAVIS_COMMIT_RANGE
notifications:
  email:
    on_success: never
