name: Lint Definitions
on:
  pull_request: { paths: 'share/node-build/**' }

jobs:
  lts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: npm ci
    - run: npm run lint:lts

  checksums:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with: { fetch-depth: 0 }
    - run: npm ci
    - run: npm run lint:checksums -- origin/${{github.base_ref}}
