name: Lint LTS Warnings
on:
  pull_request:
  push: { branches: master }

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: npm ci
    - run: npm run lint:lts
