name: Test
on:
  push:
  pull_request:
  schedule: [{ cron: "0 0 10 * *" }] # monthly https://crontab.guru/#0_0_10_*_*
  workflow_dispatch:

permissions: {}

jobs:
  test:
    uses: nodenv/.github/.github/workflows/test.yml@v6
    with: { superlinter: false } # TODO renable superlinter
    permissions:
      contents: read
      packages: read
      id-token: write
      security-events: write
      statuses: write

  # https://github.com/redhat-plumbers-in-action/differential-shellcheck
  shellcheck:
    permissions: { contents: read, security-events: write }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { fetch-depth: 0 }
      - uses: redhat-plumbers-in-action/differential-shellcheck@d965e66ec0b3b2f821f75c8eff9b12442d9a7d1e # v5.5.6
        with:
          severity: error # TODO strengthen
          token: ${{ secrets.GITHUB_TOKEN }}

  lts:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: npm ci

      - run: npm run lint:lts

  checksums:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { fetch-depth: 0 }
      - run: npm ci

        # FIXME workaround https://github.com/actions/checkout/issues/910
      - if: github.event_name == 'pull_request'
        run: npm run lint:checksums -- origin/${{github.base_ref}}
      - run: npm run lint:checksums -- HEAD^
        if: github.event_name == 'push'
