name: Version Bump
on:
  push: { branches: main, paths: "share/node-build/**" }
  schedule: [{ cron: "0 10 * * *" }] # daily: https://crontab.guru/#0_10_*_*_*
  workflow_dispatch:
    inputs:
      version:
        description: "An explicit version (or major|minor|patch) to tag."
        default: ""
        required: false
        type: string
permissions: { contents: read }

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.BOT_TOKEN }}

      - if: ${{ !inputs.version }}
        run: |-
          npm run preversion --silent -- -o -v -- share/node-build || status=$?
          case "${status:-0}" in
            0) echo "bump=patch" >> $GITHUB_ENV;;
            1) exit 0;; # exit successfully to mask error, but don't release
            *) exit $status ;; # all other error codes are true failures
          esac

      - if: ${{ inputs.version || env.bump }}
        run: npm version ${{ inputs.version || env.bump }}
        env:
          GIT_AUTHOR_NAME: ${{ vars.NODENV_BOT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ vars.NODENV_BOT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ vars.GHA_BOT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ vars.GHA_BOT_EMAIL }}
